$text-color: hsl(0, 0%, 94%);
$primary: hsl(207, 100%, 70%);
$secondary: hsl(27, 100%, 50%);
$background-color: hsl(210, 70%, 17%);

$bg01: hsl(0, 0%, 15%);
// $bg02a: hsl(207, 100%, 6%);
// $bg01: linear-gradient(180deg, #22262a 0%, #181a1d 100%);
$bg02: linear-gradient(135deg, hsl(207, 9%, 20%) 0%, hsl(220, 9%, 13%) 100%);
$bg03: linear-gradient(135deg, hsl(210, 10%, 19%) 0%, #1d2023 100%);
$bg04: hsla(0, 0%, 13%, 0.992);

$border01: #22262a;
$border02: #1a1d21;
$border03: #30353b;

$sidebar-width: 270px;