@import "../animations.scss";
@import "../UIelements";
//Artist name
.artist_name {
    opacity: 0.85;
    padding: 0 50px;
    text-shadow: 0px 0px 0 rgb(159, 159, 159), 0px 1px 0 rgb(79, 79, 79), 0px 2px 0 rgb(-2, -2, -2),
        0px 3px 0 rgb(-83, -83, -83), 0px 4px 3px rgba(0, 0, 0, 0.65), 0px 4px 1px rgba(0, 0, 0, 0.5),
        0px 0px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 700px) {
    .artist_name {
        font-size: 4.6rem;
        padding-left: 40px;
    }
}

@media only screen and (min-width: 960px) {
    .artist_name {
        font-size: 5.5rem;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 460px) {
    .heading--big {
        text-align: center;
    }
}

//Artist deatils
.artists-details__wikipedia-description {
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    > p {
        max-height: 190px;
        overflow: hidden;
        transition: all 0.3s linear;
    }
}

.artists-details__wikipedia-description.expanded > p {
    max-height: 800px;
}

.section__artists-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .panel-info {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        background: transparent;
        border: none;
        box-shadow: none;

        > .info-item {
            display: flex;
            flex-wrap: wrap;
            padding: 3px 10px;
            align-items: center;
            > .info-item__title {
                font-weight: bold;
                margin-right: 10px;
                > i {
                    margin-right: 7px;
                    vertical-align: middle;
                }
            }
            > .info-item__content {
                > img {
                    float: left;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .section__artists-details {
        flex-direction: row;
        align-items: flex-start;
        justify-items: flex-start;
        align-items: center;
        gap: 50px;
        > div {
            flex: 1 0;
        }
        > .panel-info {
            margin-top: 0px;
            background-color: $bg04;
            box-shadow: 0 5px 5px black, 0 0 45px -6px black inset;
            border-radius: 10px;
            border: solid $border01 3px;
            display: flex;
            flex-direction: column;
            max-width: 200px;
            > .panel__divider:first-child {
                display: none;
            }
            > .info-item {
                flex: 1 0;
                align-self: flex-start;
                align-items: flex-start;
                // justify-items: center;
                padding: 5px 10px;
                flex-direction: column;
            }
        }
    }
}

.item__genres {
    display: flex;
    flex-wrap: wrap;
}

.item__genre {
    padding: 0 5px;
    color: $secondary;
    text-shadow: 1px 1px 2px black;
}

.info__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.info-details__show-more {
    background-color: transparent;
    color: $primary;
    border: none;
    cursor: pointer;
    &--hidden {
        visibility: hidden;
    }
}

.wikipedia__link {
    font-size: 1.4rem;
    > a {
        color: $primary;
        padding-left: 5px;
    }
}
