$yotube_width: 80vw;
$yotube_height: calc(#{$yotube_width} * 180 / 320);
$yotube_width-small: 40vw;
$yotube_height-small: calc((#{$yotube_width-small} * 180 / 320));

$small: 500px;
$medium: 1000px;
.section__yotube--content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media screen and (max-width: calc($small  - 1px)) {
    .section__youtube {
        // height: 100vh;
        > .section__title {
            text-align: center;
            margin-bottom: 10px;
        }
        > .section__yotube--content {
            align-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;

            > .youtube-movie__wrapper {
                width: $yotube_width;
                height: calc($yotube_height);

                > .panel__youtube {
                    padding: 0;
                    padding-bottom: -5px;
                    overflow: hidden;
                    > img {
                        margin-bottom: -5px;
                        width: $yotube_width;
                        height: $yotube_height;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $small) and (max-width: calc($medium - 1px)) {
    .section__youtube {
        > .section__yotube--content {
            // display: none;
            flex-direction: row;
            justify-content: center;
            // justify-items: center;
            // align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            > .youtube-movie__wrapper {
                width: $yotube_width-small;
                height: $yotube_height-small;
                // flex: 1 0;

                > .panel__youtube {
                    padding: 0;
                    padding-bottom: -5px;
                    overflow: hidden;
                    > img {
                        margin-bottom: -5px;
                        width: $yotube_width-small;
                        height: $yotube_height-small;
                    }
                }
            }
        }
    }
}
