// .youtube-movie__wrapper {
//     width: 120px;
//     height: auto;
// }

// .section__yotube--content,
// .section__album--content {
//     display: flex;
//     // flex: 1;
//     flex-wrap: wrap;
//     gap: 30px;
//     justify-content: flex-start;
// }

// .panel__youtube {
//     padding: 0;
//     overflow: hidden;
//     > img {
//         width: 120px;
//         height: auto;
//     }
//     // max-height: 180px;
// }

// $youtube-middle: 400px;
.modal {
    position: fixed;
    width: 90vw;
    height: (calc(90vw / 19 * 9));

    left: 0;
    right: 0;
    top: 50px;
    z-index: 1002;

    margin: 0 auto;
    overflow: hidden;
}

.player > iframe {
    width: 90vw !important;
    height: (calc(90vw / 19 * 9)) !important;
}

.youtube__image,
.album__image {
    opacity: 0;
    transition: all 0.5s ease-in;
    cursor: pointer;

    &--loaded {
        opacity: 1;
    }
}
